@page "/counter"

<PageTitle>@Texts.CounterTitle</PageTitle>

<h1>@Texts.CounterTitle</h1>

<p role="status">@Texts.CurrentCount(currentCount)</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Texts.ClickMe</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
